@charset "utf-8";
h3 {
  background-color: #E0E0E0;
  padding: 5px;
  border-left: thick solid #AAAAFF;
}

table{
  border-collapse:collapse;
  margin:0 auto;
  width: 100%;
}
td,th{
  padding:5px;
}
th{
  color:#fff;
  background:#3366CC;
}
table tr:nth-child(odd){
  background:#e6f2ff;
}

.uploadHeader {
  width: 240px;
}

#uploadProgress {
  width: 600px;
}
